<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <!--公共头部引入-->
    <div th:replace="Common/head :: head"></div>
</head>
<body>
<div id="app">
    <el-container>
        <el-main>
            <el-form :inline="true" :model="search">
                <el-form-item label="标题">
                    <el-input v-model="search.title" placeholder="标题"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="getBulInfo" icon="el-icon-search" round>查询</el-button>
                </el-form-item>
                <!--<el-form-item>
                    <el-button type="primary" @click="action = true" icon="el-icon-plus" round>新增</el-button>
                </el-form-item>-->
            </el-form>

            <el-table
                    :data="bulList"
                    empty-text="公告列表为空">
                <el-table-column prop="id" label="编号"></el-table-column>
                <el-table-column prop="title" label="标题"></el-table-column>
                <el-table-column prop="content" label="内容">
                    <template slot-scope="scope">
                        {{scope.row.content}}
                    </template>
                </el-table-column>
                <el-table-column prop="createtime" label="创建时间"></el-table-column>
                <el-table-column prop="userName" label="用户名"></el-table-column>
                <!--<el-table-column fixed="right" label="操作" width="150">
                    <template slot-scope="scope">
                        <el-button
                                size="mini"
                                @click="handleEdit(scope.$index, scope.row)">编辑
                        </el-button>
                        <el-button
                                size="mini"
                                type="danger"
                                @click="handleDelete(scope.$index, scope.row)">删除
                        </el-button>
                    </template>
                </el-table-column>-->
            </el-table>
            <el-pagination
                    class="pull-right"
                    @size-change="handleSizeChange"
                    @current-change="handleCurrentChange"
                    :current-page="currentPage"
                    :page-sizes="[5, 10, 20, 30, 40]"
                    :page-size="pageSize"
                    layout="total, sizes, prev, pager, next, jumper"
                    :total="total">
            </el-pagination>

            <el-dialog
                    title="操作"
                    :visible.sync="action"
                    :modal="false"
                    width="40%"
                    top="0vh"
                    @close="handleClose">
                <el-form ref="actionForm" :model="actionObj" :rules="rules" label-width="80px">
                    <el-form-item label="标题" prop="title">
                        <el-input v-model="actionObj.title"></el-input>
                    </el-form-item>
                    <el-form-item label="内容" prop="content">
                        <el-input type="textarea" v-model="actionObj.content"></el-input>
                    </el-form-item>
                    <el-form-item label="创建时间" prop="createtime">
                        <el-date-picker
                                v-model="actionObj.createtime"
                                type="datetime"
                                placeholder="选择日期时间"
                                value-format="yyyy-MM-dd HH:mm:ss">
                        </el-date-picker>
                    </el-form-item>
                    <el-form-item label="用户名" prop="userid">
                        <el-select v-model="actionObj.userid" clearable filterable remote placeholder="请输入用户名"
                                   :remote-method="remoteMethod" :loading="loading">
                            <el-option
                                    v-for="(item, index) in userList"
                                    :key="index"
                                    :label="item.username"
                                    :value="item.id">
                            </el-option>
                        </el-select>
                    </el-form-item>
                </el-form>
                <span slot="footer" class="dialog-footer">
                    <el-button @click="action = false">取 消</el-button>
                    <el-button type="primary" @click="handleAction">确 定</el-button>
                </span>
            </el-dialog>
        </el-main>
    </el-container>
</div>
</body>
<!--公共底部部引入-->
<div th:replace="Common/footer :: footer"></div>
<script>
    new Vue({
        el: "#app",
        data() {
            return {
                currentPage: 1,
                pageSize: 5,
                total: 0,
                bulList: [],
                userList: [],
                petList: [],
                search: {},
                loading: false,
                action: false,
                actionObj: {},
                rules: {
                    title: [
                        {required: true, message: '请输入标题', trigger: 'blur'},
                    ],
                    content: [
                        {required: true, message: '请输入内容', trigger: 'blur'},
                    ],
                    createtime: [
                        {required: true, message: '请选择创建时间', trigger: 'blur'},
                    ],
                    userid: [
                        {required: true, message: '请输入用户编号', trigger: 'blur'},
                    ],
                },
            }
        },
        methods: {
            handleSizeChange(val) {
                this.pageSize = val;
                this.getBulInfo();
            },
            handleCurrentChange(val) {
                this.currentPage = val;
                this.getBulInfo();
            },
            handleClose() {
                this.actionObj = {};
                this.userList = [];
                this.$refs['actionForm'].clearValidate();
                this.getBulInfo();
            },
            handleEdit(index, row) {
                this.action = true;
                this.userList.push({username:row.userName,id:row.userid});
                this.actionObj = JSON.parse(JSON.stringify(row));
            },
            handleDelete(index, row) {
                this.$confirm('确定删除该记录吗?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(async () => {
                    let res = await axios.delete('/bul/' + row.id, Qs.stringify(this.actionObj));
                    if (res.data.status == 1) {
                        this.$message({
                            type: 'success',
                            message: '删除成功!'
                        });
                        this.getBulInfo();
                    } else {
                        this.$message.error('删除失败，错误：' + res.data.message);
                    }

                });
            },
            async handleAction() {
                this.$refs['actionForm'].validate(async (valid) => {
                    if (valid) {
                        let res = await axios.post('/bul', Qs.stringify(this.actionObj));
                        if (res.data.status == 1) {
                            this.$message({
                                showClose: true,
                                duration: 1000,
                                message: '操作成功',
                                type: 'success'
                            });
                            this.action = false;
                            this.getBulInfo();
                        } else {
                            this.$message({
                                showClose: true,
                                message: '操作失败：' + res.data.message,
                                type: 'error'
                            });
                        }
                    } else {
                        return false;
                    }
                });
            },
            async getBulInfo() {
                let res = await axios.post('/bul/list', Qs.stringify({
                    currentPage: this.currentPage,
                    pageSize: this.pageSize,
                    title: this.search.title
                }));
                !!res.data.data.list ? this.bulList = res.data.data.list : this.bulList = [];
                !!res.data.data.total ? this.total = res.data.data.total : this.total = 0;
            },
            remoteMethod(query) {
                if (!!!query) {
                    this.userList = [];
                } else {
                    this.loading = true;
                    setTimeout(async () => {
                        this.loading = false;
                        let res = await axios.post('/user/list', Qs.stringify({
                            username: query
                        }));
                        !!res.data.data.list ? this.userList = res.data.data.list : this.userList = [];
                    }, 200);
                }
            },
        },
        mounted() {
            this.getBulInfo();
        }
    })
</script>
</html>